name: CICD

on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: login to docker
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER_NAME }}
          password: ${{secrets.DOCKER_PASSCODE }}
      - name: building
        env:
           DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USER_NAME }}
           IMAGE_NAME: my-image
        run: |
           docker build -t $DOCKERHUB_NAME/$IMAGE_NAME .
           docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:latest 
